@use '../base/variables' as *;
@use '../base/breakpoints' as *;

.section-customer-order {
  --section-gap: #{$space-md};

  padding: var(--section-gap);

  @include mq-up('md') {
    --section-gap: #{$space-lg};
  }
}
